<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.KateringConnect"
        tools:targetApi="31">
        <activity
            android:name=".view.both.splash.SplashScreenActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.vendor.menu.VendorMenuActivity"
            android:exported="false" />
        <activity
            android:name=".view.vendor.DetailPesananActivity"
            android:exported="false" />
        <activity
            android:name=".view.vendor.DetailRiwayatPesananActivity"
            android:exported="false" />
        <activity
            android:name=".view.user.DetailRiwayatPemesananActivity"
            android:exported="false" />
        <activity
            android:name=".view.user.PemesananActivity"
            android:exported="false" />
        <activity
            android:name=".view.user.menu.UserMenuActivity"
            android:exported="false" />
        <activity
            android:name=".view.user.DetailVendorActivity"
            android:exported="false" />
        <activity
            android:name=".view.vendor.galeri.AddGaleriActivity"
            android:exported="false" />
        <activity
            android:name=".view.both.akun.EditAkunActivity"
            android:exported="false" />
        <activity
            android:name=".view.vendor.main.VendorMainActivity"
            android:exported="false"
            android:label="@string/title_activity_vendor_main" />
        <activity
            android:name=".view.both.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".view.both.login.LoginActivity"
            android:exported="false"/>
        <activity
            android:name=".view.user.main.UserMainActivity"
            android:exported="true" />
    </application>

</manifest>