<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.KateringConnect"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup, usesCleartextTraffic"
        tools:targetApi="31">
        <activity
            android:name=".view.all.kcwallet.RiwayatTarikDanaActivity"
            android:exported="false" />
        <activity
            android:name=".view.all.kcwallet.TopupActivity"
            android:exported="false" />
        <activity
            android:name=".view.all.kcwallet.TarikDanaBerhasilActivity"
            android:exported="false" />
        <activity
            android:name=".view.all.kcwallet.TarikDanaActivity"
            android:exported="false" />
        <activity
            android:name=".view.all.kcwallet.AddEditRekeningBankActivity"
            android:exported="false" />
        <activity
            android:name=".view.all.kcwallet.RekeningBankActivity"
            android:exported="false" />
        <activity
            android:name=".view.all.kcwallet.MutasiActivity"
            android:exported="false" />
        <activity
            android:name=".view.all.kcwallet.KcwalletActivity"
            android:exported="false" />
        <activity
            android:name=".view.vendor.detailpesanan.SelesaikanPesananActivity"
            android:exported="false" />
        <activity
            android:name=".view.user.pemesanan.PemesananBerhasilActivity"
            android:exported="false" />
        <activity
            android:name=".view.user.keranjang.AllKeranjangActivity"
            android:exported="false" />
        <activity
            android:name=".view.user.alamat.edit.EditAlamatActivity"
            android:exported="false" />
        <activity
            android:name=".view.user.alamat.edit.EditNamaAlamatActivity"
            android:exported="false" />
        <activity
            android:name=".view.user.alamat.edit.EditAlamatAlamatActivity"
            android:exported="false" />
        <activity
            android:name=".view.user.alamat.edit.EditKotaAlamatActivity"
            android:exported="false" />
        <activity
            android:name=".view.user.alamat.edit.EditNamaKontakAlamatActivity"
            android:exported="false" />
        <activity
            android:name=".view.user.alamat.edit.EditNomorKontakAlamatActivity"
            android:exported="false" />
        <activity
            android:name=".view.user.alamat.AddAlamatActivity"
            android:exported="false" />
        <activity
            android:name=".view.user.alamat.AlamatActivity"
            android:exported="false" />
        <activity
            android:name=".view.user.custommenu.CustomMenuActivity"
            android:exported="false" />
        <activity
            android:name=".view.vendor.galeri.GaleriActivity"
            android:exported="false" />
        <activity
            android:name=".view.user.detailvendor.GaleriVendorActivity"
            android:exported="false" />
        <activity
            android:name=".view.vendor.menu.kategori.EditKategoriActivity"
            android:exported="false" />
        <activity
            android:name=".view.vendor.menu.grupopsi.EditGrupOpsiActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.vendor.menu.edit.EditNamaMenuActivity"
            android:exported="false" />
        <activity
            android:name=".view.vendor.menu.edit.EditDeskripsiMenuActivity"
            android:exported="false" />
        <activity
            android:name=".view.vendor.menu.edit.EditHargaMenuActivity"
            android:exported="false" />
        <activity
            android:name=".view.vendor.menu.edit.EditMinOrderMenuActivity"
            android:exported="false" />
        <activity
            android:name=".view.vendor.menu.edit.EditGrupOpsiMenuActivity"
            android:exported="false" />
        <activity
            android:name=".view.vendor.menu.grupopsi.OpsiChooseMenuActivity"
            android:exported="false" />
        <activity
            android:name=".view.vendor.menu.grupopsi.OpsiConnectMenuActivity"
            android:exported="false" />
        <activity
            android:name=".view.vendor.menu.grupopsi.AddGrupOpsiActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.vendor.menu.kategori.AddKategoriActivity"
            android:exported="false" />
        <activity
            android:name=".view.all.chat.RoomChatActivity"
            android:exported="false" />
        <activity
            android:name=".view.all.chat.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".view.all.nilai.NilaiActivity"
            android:exported="false" />
        <activity
            android:name=".view.all.splash.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.vendor.menu.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".view.vendor.menu.AddMenuActivity"
            android:exported="false" />
        <activity
            android:name=".view.vendor.menu.edit.EditMenuActivity"
            android:exported="false" />
        <activity
            android:name=".view.vendor.detailpesanan.DetailPesananActivity"
            android:exported="false" />
        <activity
            android:name=".view.user.detailpemesanan.DetailPemesananActivity"
            android:exported="false" />
        <activity
            android:name=".view.user.pemesanan.PemesananActivity"
            android:exported="false" />
        <activity
            android:name=".view.user.detailvendor.DetailVendorActivity"
            android:exported="false" />
        <activity
            android:name=".view.vendor.galeri.AddGaleriActivity"
            android:exported="false" />
        <activity
            android:name=".view.all.editakun.EditAkunActivity"
            android:exported="false" />
        <activity
            android:name=".view.all.editakun.EditNamaAkunActivity"
            android:exported="false" />
        <activity
            android:name=".view.all.editakun.EditKotaAkunActivity"
            android:exported="false" />
        <activity
            android:name=".view.all.editakun.EditAlamatAkunActivity"
            android:exported="false" />
        <activity
            android:name=".view.all.editakun.EditTeleponAkunActivity"
            android:exported="false" />
        <activity
            android:name=".view.vendor.main.VendorMainActivity"
            android:exported="false"
            android:label="@string/title_activity_vendor_main" />
        <activity
            android:name=".view.all.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".view.all.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.user.main.UserMainActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name="com.google.android.gms.metadata.ModuleDependencies"
            android:enabled="false"
            android:exported="false"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES" />
            </intent-filter>

            <meta-data
                android:name="photopicker_activity:0:required"
                android:value="" />
        </service>
    </application>

</manifest>